PORT=4000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=your_secret_here
DATABASE_URL=postgresql://user:password@localhost:5432/fragvault
FACEIT_API_KEY=f1a01fe8-c034-4824-8e33-1bcdefedb33b
SOLANA_PRIVATE_KEY=your_base58_private_key
SOLANA_NETWORK=devnet
PROGRAM_ID=3Cj3ZhJsZRhZ1rF8Er2ZnwFY1Xjz2gefnvcHWV1zheu9